/.idea
/.pnpm-store
/node_modules
/public/hot
/public/build
/public/storage
/public/js/*
/public/css/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
_lighthouse_ide_helper.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
programmatic-types.graphql
schema-directives.graphql
yarn-error.log
